<% if @user.errors.any? %>
	<div class="alert alert-danger">
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_for @user, url: '/users' do |f| %>

  	Name: <%= f.text_field :username, class: "form-control"%> </br>
  	Email: <%= f.text_field :email, class: "form-control" %> </br>
  	Password: <%= f.password_field :password, class: "form-control" %> </br>
  	Password Confirmation: <%= f.password_field :password_confirmation, class: "form-control" %> </br>
  	<%= f.submit "Submit" , class: "btn btn-primary"%>
<% end %>